/* src/styles/CaseItem.css */

.case-item {
  background-color: #eeeeeec9;
  padding: 0 0 .7rem;
  margin-bottom: 2.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.19);
  box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.19);
}

.case-item:hover {
  background-color: #f8f8f8e1;
}

.case-item h5 {
  margin: 0;
  font-size: clamp(.5em, 1rem + 3vw, 1.1rem);
  font-weight: 400;
  position: relative;
}

.case-item input[type="checkbox"] {
  margin-left: 0.5rem;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.case-item input[type="checkbox"]:hover {
  cursor: pointer;
}


.case-item p {
  margin: 0.25rem 0;
}

.timers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: .1rem .5rem 0;
}

.containerTimerDate {
  background-color: #313131;
  color: #f9f9f9;
  border: 1px solid black;
  margin: 0.5rem 0.4rem;
  border-radius: 5px;
  flex: 1 1 150px;
  font-weight: 500;
}

.containerTimerDate h5 {
  color: #ffffff;
  font-size: .9em;
  font-weight: 600;
  text-align: center;
  padding: 2px 0 0 0;
  height: 30%;
  white-space: nowrap; /* Evita que el texto haga saltos de línea */
  overflow: hidden; /* Oculta el texto que no cabe */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final */
}

.containerTimerDate:nth-child(3) h5 {
  padding: 2px 2px 0 0;
}


.containerTimerDate .StatusTimer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  min-width: 120px;
  height: 70%;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.ContainerTimer {
  display: flex;
  flex-direction: column;
}

.StatusTimer .btn-reset {
  background-color: #00000005;
  border-radius: 5px;
  font-size: .8rem;
  min-width: 80px;
  margin-left: .2rem;
}

.StatusTimer .btn-reset:hover {
  background-color: #00000020;
}

.timerStatic {
  background-color: gainsboro;
  color: black;
  font-size: 0.9em;
  min-width: 150px;
  text-align: center;
  border-radius: 5px;
  padding: 0.2rem;
  margin: .2rem .2rem .4rem;
}



/* Estilos para los estados */
.StatusTimer.pending, .StatusTimer.completed, .StatusTimer.expired  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem .5rem .1rem;
}

.StatusTimer.pending {
  background-color: #FFBD73; /* Amarillo */
  color: black;
}

.StatusTimer.completed {
  background-color: #7ED4AD; /* Verde */
  color: #006600;
  font-weight: 600;
}

.StatusTimer.expired {
  background-color: #d9534f; /* Rojo */
  color: #fff;
  min-width: 165px;
}

/* Estilos para seccion de botones */

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions .btn-delete, .actions .btn-frezzer {
  border-radius: 5px;
  height: 35px;
  margin-right: 1rem;
  font-weight: 600;
}

.actions .btn-delete {
  background-color: #a0a0a0ab;
  color: #303030;
  margin-left: 1rem;
}


.actions .btn-delete:hover {
  background-color: #d9534f;
  color: #fff;
}

.actions .btn-frezzer:hover:not(button:disabled) {
  background-color: #4f74d9;
  color: #fff;
  font-weight: 600;
}

