/* src/styles/CaseForm.css */
form {
  background-color: #4A628A;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: .5rem 0 1rem;
  margin-bottom: .5rem;
}

.containerDates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  margin: .5rem;
  max-width: 20rem;
}

label {
  font-weight: bold;
}

form button {
  max-width: 15rem;
}
