/* src/styles/CaseForm.css */
form {
  background-color: rgb(70, 70, 70);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(153, 153, 153);
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.containerDates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  margin: .5rem;
  max-width: 20rem;
}

label {
  font-weight: bold;
}

form button {
  max-width: 15rem;
}
